[Unit]
Description=Speech Classifier Flask App
After=network.target

[Service]
User=<ADD USER HERE>
WorkingDirectory=/var/www/flaskapi/flaskapi
ExecStart=/usr/bin/python /var/www/flaskapi/flaskapi/__init__.py
Restart=always

[Install]
WantedBy=multi-user.target
